<div class="panel panel-default">
    <div class="panel-heading">Project Funding</div>
    <div class="panel-body">
        <div class="form-group"
             ng-class="{'has-error': projectForm.ProjectTotalFunding.$invalid
                && projectForm.ProjectTotalFunding.$dirty}">
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label" for="ProjectTotalFunding">What is the total funding for the life of the project? </label>
                    <input type="number" class="form-control" name="ProjectTotalFunding"
                           placeholder="Project Total Funding in USD" autocomplete="off" required
                           ng-model="data.project.TotalFunding">
                    <span class="has-error control-label" ng-show="projectForm.ProjectTotalFunding.$invalid && projectForm.ProjectTotalFunding.$dirty">
                      Project Total Funding is required.
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error': projectForm.RegionGovFunding.$invalid
                && projectForm.RegionGovFunding.$dirty}">
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label" for="RegionGovFunding">If applicable, please list any national, regional or other government funding for this project in USD.</label>
                    <input type="number" class="form-control" name="RegionGovFunding"
                           placeholder="Regional or Other Government Funding in USD" autocomplete="off"
                           ng-model="data.project.GovFunding">
                    <span class="has-error control-label" ng-show="projectForm.RegionGovFunding.$invalid  && projectForm.RegionGovFunding.$dirty">
                      Regional or Other Government Funding must be a valid number.
                    </span>
                </div>
            </div>
        </div>

        <div class="list-group">
            <label class="control-label">Please list each funder and their contribution in USD</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group" ng-repeat="contribution in data.contributions">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="FundingFunder{{$index}}"
                                       placeholder="Funder Name"
                                       ng-model="contribution.Funder.Name">
                            </div>
                            <div class="col-md-4">
                                <input type="number" class="form-control" name="FundingAmount{{$index}}"
                                       placeholder="Region Funding in USD"
                                       ng-model="contribution.Amount">
                            </div>
                            <button class="btn btn-danger" type="button" ng-click="removeProjectFunder($index)">Remove Funder <span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </div>
                    <label class="control-label">To add a funder please click on <em>Add Funder</em> button below</label><br>
                    <button class="btn btn-default" type="button" ng-click="addProjectFunder($event)">Add Funder</button>
                </div>
            </div>
        </div>

        <div class="list-group">
            <div class="form-group" ng-repeat="regionalDatum in data.regionalData">
                <label class="control-label">If applicable, please provide a breakdown of budgeted funding for each sub-national region in USD.</label>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="RegionFundingRegion{{$index}}"
                               placeholder="Region Name"
                               ng-model="regionalDatum.Region" ng-disabled="true">
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control" name="RegionFundingFunding{{$index}}"
                               placeholder="Region Funding in USD"
                               ng-model="regionalDatum.Funding">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>