<h1>{{project.Name}}</h1>
<hr>
<form name="projectForm" novalidate ng-submit="saveProject()" ng-init="initProject()">
    <div ui-view></div>
    <h2><a class="navbar-brand" ui-sref="projectRegionalData({projectId: data.project.id})">Project Regional Data</a></h2>
    <hr>
    <div ui-view="regionalData"></div>

    <button class="btn btn-default" ng-disabled="projectForm.$invalid">Save</button>
    <button class="btn btn-default" ng-click="removeProject($event, data.project)">Delete Project</button>
    <button class="btn btn-default" ui-sref="project.new">Add New Project</button>
</form>