<h1>{{data.project.Name || "New Project"}}</h1>
<hr>
<form name="projectForm" novalidate ng-init="initProject()">
    <div ui-view></div>
    <h3>Project Regional Data</h3>
    <hr>
    <div ui-view="regionalData"></div>

    <button class="btn btn-default" type="button" ng-disabled="projectForm.$invalid" ng-click="saveProject()">Save</button>
    <button class="btn btn-default" type="button" ng-click="removeProject($event, data.project)">Delete Project</button>
    <button class="btn btn-default" type="button" ui-sref="project.new" ng-click="">Add New Project</button>
</form>