<div class="form-group"
     ng-class="{'has-error': projectForm.ProjectName.$dirty}">
    <label class="control-label" for="ProjectName">What is the name of your project?</label>
    <input type="text" class="form-control" name="ProjectName"
           placeholder="Project Name" autocomplete="off" required
           ng-model="data.project.Name">
    <span class="has-error control-label" ng-show="projectForm.ProjectName.$dirty">
      Project Name field is required.
    </span>
</div>

<div class="form-group"
     ng-class="{'has-error': projectForm.ProjectWebsite.$invalid}">
    <label class="control-label" for="ProjectWebsite">Does the project have a website or web page? If so, please provide the link.</label>
    <input type="url" class="form-control" name="ProjectWebsite"
           placeholder="Project URL" autocomplete="off"
           ng-model="data.project.URL">
    <span class="has-error control-label" ng-show="projectForm.ProjectWebsite.$invalid">
      Website URL must be in a correct format (prefixed by http:// or https://).
    </span>
</div>

<div class="form-group"
     ng-class="{'has-error': projectForm.ProjectDescription.$invalid && projectForm.ProjectDescription.$touched}">
    <label class="control-label" for="ProjectDescription">Please give a brief project description (50 to 300 characters).</label>
    <textarea class="form-control" rows="5" name="ProjectDescription"
              placeholder="Project Description" autocomplete="off" required
              ng-model="data.project.Description" ng-maxlength="300" ng-minlength="50"></textarea>
    <span class="has-error control-label" ng-show="projectForm.ProjectDescription.$dirty">
      Project Description field is required.
    </span>
</div>

<div class="form-group"
     ng-class="{'has-error': projectForm.ProjectBeneficiaries.$invalid && projectForm.ProjectBeneficiaries.$touched}">
    <label class="control-label" for="ProjectBeneficiaries">Please state who are the direct beneficiaries (women, girls, children, newborns, citizens, etc.) (Limit of 150 characters).</label>
    <textarea class="form-control" rows="5" name="ProjectBeneficiaries"
           placeholder="Project Beneficiaries" autocomplete="off" required
           ng-model="data.project.Beneficiaries" ng-maxlength="150"></textarea>
    <span class="has-error control-label" ng-show="projectForm.ProjectBeneficiaries.$dirty">
      Project Beneficiaries field is required.
    </span>
</div>

<div class="row">
    <div class="form-group date col-sm-4"
         ng-class="{'has-error': projectForm.ProjectStartDate.$invalid && projectForm.ProjectStartDate.$touched}">
        <label class="control-label" for="ProjectStartDate">What is the project start date?</label>
        <input type="date" class="form-control" name="ProjectStartDate"
               placeholder="Project StartDate" autocomplete="off" required
               ng-model="data.project.StartDate">
        <span class="has-error control-label" ng-show="projectForm.ProjectStartDate.$invalid && projectForm.ProjectStartDate.$touched">
          Project Start Date is required and must be in a correct format (mm/dd/yyyy).
        </span>
    </div>

    <div class="form-group date col-sm-4"
         ng-class="{'has-error': projectForm.ProjectEndDate.$invalid && projectForm.ProjectEndDate.$touched}">
        <label class="control-label" for="ProjectEndDate">What is the project end date?</label>
        <input type="date" class="form-control" name="ProjectEndDate"
               placeholder="Project EndDate" autocomplete="off" required
               ng-model="data.project.EndDate">
        <span class="has-error control-label" ng-show="projectForm.ProjectEndDate.$invalid && projectForm.ProjectEndDate.$touched">
          Project End Date is required and must be in a correct format (mm/dd/yyyy).
        </span>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Please provide the primary office address for your project.</div>
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label" for="ProjectAddress">What is the street address?</label>
            <input type="text" class="form-control" name="ProjectAddress"
                   placeholder="Project Primary Office Street Address" autocomplete="off"
                   ng-model="data.project.location.Address">
        </div>

        <div class="form-group">
            <label class="control-label" for="ProjectCity">What is the city?</label>
            <input type="text" class="form-control" name="ProjectCity"
                   placeholder="Project Primary Office City" autocomplete="on"
                   ng-model="data.project.location.City">
        </div>

        <div class="form-group">
            <label class="control-label" for="ProjectZip">What is the postal/zip code?</label>
            <input type="text" class="form-control" name="OrgZip"
                   placeholder="Project Postal Code" autocomplete="on"
                   ng-model="data.project.location.Zip">
        </div>

        <div class="form-group">
            <label class="control-label" for="ProjectRegion">What is the State/Province/Region?</label>
            <input type="text" class="form-control" name="ProjectRegion"
                   placeholder="Project Primary Office State/Province/Region" autocomplete="on"
                   ng-model="data.project.location.Region">
        </div>

        <div class="form-group">
            <label class="control-label" for="ProjectCountry">What is the country?</label>
            <select class="form-control" name="ProjectCountry" autocomplete="on"
                    ng-model="data.project.location.Country" pvp-country-picker></select>
        </div>
        <span class="has-error control-label" ng-show="projectForm.ProjectCountry.$invalid">
            Project Country field is required.
        </span>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Please list contact information for two people that can be contacted for more information about this project.</div>
    <div class="panel-body">
        <div class="list-group">
            <div ng-repeat="projectContact in data.projectContacts">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label class="control-label" for="ProjectContactName{{$index+1}}">What is the Contact #{{$index+1}} Name?</label>
                        <input type="text" class="form-control" name="ProjectContactName{{$index+1}}"
                               placeholder="Project Contact #{{$index+1}} Name" autocomplete="off"
                               ng-model="projectContact.Name">
                    </div>

                    <div class="col-md-3 form-group">
                        <label class="control-label" for="ProjectContactTitle{{$index+1}}">What is the Contact #{{$index+1}} Title?</label>
                        <input type="text" class="form-control" name="ProjectContactTitle{{$index+1}}"
                               placeholder="Project Contact #{{$index+1}} Title" autocomplete="off"
                               ng-model="projectContact.contact.Title">
                    </div>
                    <div class="col-md-3 form-group" ng-class="{'has-error': projectForm.ProjectContactEmail{{$index+1}}.$invalid}">
                        <label class="control-label" for="ProjectContactEmail{{$index+1}}"
                               ng-class="{'has-error': projectForm.ProjectContactEmail{{$index+1}}.$invalid}">
                            What is the Contact #{{$index+1}} Email?</label>
                        <input type="email" class="form-control" name="ProjectContactEmail{{$index+1}}"
                               placeholder="Project Contact #{{$index+1}} Email" autocomplete="off"
                               ng-model="projectContact.contact.Email">
                        <span class="has-error control-label" ng-show="projectForm.ProjectContactEmail{{$index+1}}.$invalid">
                            Project Contact Email is invalid.
                        </span>
                    </div>
                    <div class="col-md-3 form-group">
                        <label class="control-label" for="ProjectContactPhone{{$index+1}}">What is the Contact #{{$index+1}} Phone?</label>
                        <input type="text" class="form-control" name="ProjectContactPhone{{$index+1}}"
                               placeholder="Project Contact #{{$index+1}} Phone" autocomplete="off"
                               ng-model="projectContact.contact.Phone">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Implementing Partners</div>
    <div class="panel-body">
        <p>
            Are there other implementing partners on this grant/contract? If so, please list.
        </p>
        <div class="list-group">
            <div class="form-group form-inline" ng-repeat="implementingPartner in data.project.implementingPartners">
                <input type="text" class="form-control" name="implementingPartner{{$index+1}}"
                       placeholder="Implementing Partner" autocomplete="off"
                       ng-model="implementingPartner.Name">
                <button class="btn btn-danger" type="button" ng-click="removeProjectImplementingPartner($index)">Remove Implementing Partner <span class="glyphicon glyphicon-trash"></span></button>
            </div>

            <label class="control-label" for="addImplementingPartner">To add an implementing partner please click on <em>Add Implementing Partner</em> button below</label><br>
            <button class="btn btn-default" type="button" ng-click="addProjectImplementingPartner($event)" name="addImplementingPartner">Add Implementing Partner</button>
        </div>
    </div>
</div>