<div class="list-group">
    <div ng-repeat="(regionIndex, regionalDatum) in data.regionalData" ng-class="{'has-error': Region.$invalid && Region.$dirty}">
        <div class="panel panel-default">
            <div class="panel-heading">{{regionalDatum.Region}}</div>
            <div class="panel-body">
                <div class="form-group" ng-repeat="(locationIndex, regionLocation) in regionalDatum.locations">
                    <div class="form-group">
                        <input type="text" class="form-control" name="RegionLocationName[regionLocation][locationIndex]"
                               placeholder="Activity Location Name" autocomplete="off"
                               ng-model="regionLocation.Name">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="RegionLocationCountry[regionLocation][locationIndex]"
                               placeholder="Activity Location Country" autocomplete="off" required
                               ng-model="regionLocation.Country">
                    </div>
                    <span class="has-error control-label" ng-show="RegionLocationCountry[regionLocation][locationIndex].$invalid && RegionLocationCountry[regionLocation][locationIndex].$dirty">
                        Location Country is required.
                    </span>

                    <div class="form-group">
                        <input type="text" class="form-control" name="RegionLocationAddress[regionLocation][locationIndex]"
                               placeholder="Activity Location Street Address" autocomplete="off"
                               ng-model="regionLocation.Address">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="RegionLocationCity[regionLocation][locationIndex]"
                               placeholder="Activity Location City" autocomplete="on" required
                               ng-model="regionLocation.City">
                    </div>
                    <span class="has-error control-label" ng-show="RegionLocationCity[regionLocation][locationIndex].$invalid && RegionLocationCity[regionLocation][locationIndex].$dirty">
                        Location City is required.
                    </span>

                    <div class="form-group">
                        <input type="text" class="form-control" name="OrgRegion"
                               ng-model="regionalDatum.Region"
                               ng-disabled="true">
                    </div>

                    <button class="btn btn-danger" type="button" ng-click="removeRegionalDataLocation(regionIndex, locationIndex)">Remove Location <span class="glyphicon glyphicon-trash"></span></button>

                </div>
                <button class="btn btn-default" type="button" ng-click="addRegionalDataLocation(regionIndex, $event)">Add Location</button>
            </div>
        </div>
    </div>
</div>