<div class="list-group">
    <div class="form-group form-inline" ng-repeat="regionalDatum in data.regionalData" ng-class="{'has-error': Region.$invalid && Region.$dirty}">
        <input type="text" class="form-control" name="Region"
               placeholder="Region Name" autocomplete="off"
               ng-model="regionalDatum.Region">
        <input type="text" class="form-control" name="RegionContact"
               placeholder="Regional Contact Name" autocomplete="off"
               ng-model="regionalDatum.contact.Name">
        <input type="email" class="form-control" name="RegionContactEmail"
               placeholder="Regional Contact Email" autocomplete="off"
               ng-model="regionalDatum.contact.Email">
        <button class="btn btn-danger" type="button" ng-click="removeProjectRegionalData($index)">Remove Region <span class="glyphicon glyphicon-trash"></span></button>
        <span class="has-error control-label" ng-show="Region.$invalid && Region.$dirty">
            Region Name is required.
        </span>
    </div>
    <button class="btn btn-default" type="button" ng-disabled="Region.$invalid" ng-click="addProjectRegionalData($event)">Add Region</button>
</div>